<div class="container">
    <h3>Uhire testing </h3>
    <div class="z-depth-5">
        <div class="card-content white-text">
            <div class="row">
                <div class="col s6">
                    <a class="twitter-timeline" href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw">Tweets by
                        TwitterDev</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div class="col s6">
                    <div class="card=panel yellow darken-4 lighten-5 z-depth-1">
                        <div class="row valign-wrapper">
                            <div class="col m3">
                                <%= image_tag  "fleet_logo.png", class:"circle responsive-img" %>
                            </div>
                            <div class="col m9">
                                <span class="card-title ">Card Title</span>
                                <p> I am a very simple card. I am good at containing small bits of
                                    information.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>