<div class="container">
    <h3>Contact</h3>
    <div class="z-depth-5">
        <div class="card-content white-text">
            <div class="row">
                <div class="col s12">
                    <div class="card=panel yellow darken-4 lighten-5 z-depth-1">
                        <div class="row valign-wrapper">
                            <div class="col m12">
                                <%= image_tag  "fleet_logo.png", class:"responsive-img" %>
                            </div>
                            <div class="col m12">
                                <div class="mapouter">
                                    <div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=wicklow%20town&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                                    <style>
                                        .mapouter {
                                            text-align: right;
                                            height: 500px;
                                            width: 100%;
                                        }

                                        .gmap_canvas {
                                            overflow: hidden;
                                            background: none !important;
                                            height: 500px;
                                            width: 600px;
                                        }
                                    </style>Google Maps by <a href="https://www.embedgooglemap.net" rel="nofollow"
                                        target="_blank">Embedgooglemap.net</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>